:root {
    --navColor: #333333;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

header{
    background-color: var(--navColor);
}
li {
    list-style: none;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.Logo{
    font-size:2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color:#1e90ff;
}

.hamburger{
    display:none; /* need to be none*/
    cursor: pointer;
}

.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: red; /* needs to be #ffffff */
}

@media(max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%; /*-100% */
        top: 70px;
        gap: 0px;
        flex-direction: column-reverse;
        background-color: var(--navColor);
        width: 100%;
        text-align: center;
        transition: 0.3s ;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

}